@media only screen and (max-width: 1200px){
    nav{
        margin: 0rem 3.5rem;
    }

    html{
        font-size: 57.5%;
    }

    header{
        height: 55vh;
    }

    .row{
        margin: 0px 15px;
    }

    .nav-menu{
        display: none;
    }

    .hero-text-box{
        padding: 0 5rem;
        width: 100%;
    }

    .hero-text-box h1{
        font-size: 4rem;
    }

    .about-section .client-info{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        align-items: center;
        text-align: center;        
    }

    .client-img{
        margin-bottom: 2rem;
    }

    .client-review{
        margin-left: 0rem;
    }
    .client-review h3{
        text-align: center;
    }

    .contact-section form{
        max-width: 100%;
        left: 0;    
    }
}

@media only screen and (max-width: 980px){  
    .services-section .span_1_of_4,
    .team-section .span_1_of_4,
    .skills-section .span_1_of_4{
		width: 49.2%;
	}
    .services-section .span_1_of_4,
    .team-section .span_1_of_4,
    .skills-section .span_1_of_4:nth-child(3){
		margin-left: 0;
	}
}

@media only screen and (max-width: 768px){
    .hero-text-box h1{
        font-size: 3.8rem;
    }

    h2{
        font-size: 3.5rem;
    }

    h3{
        font-size: 2rem;
    }

    .little-discription{
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width: 480px){
    header{
        height: 80vh;
    }

    .hero-text-box{
        padding: 0 2rem;
        width: 100%;
    }


    .services-section .span_1_of_4,
    .team-section .span_1_of_4,
    .skills-section .span_1_of_4{
		width: 100%;
	}

    .hero-text-box h1{
        font-size: 3.3rem;
    }

    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 1.8rem;
    }
    .about-section .col:nth-child(3),
    .about-section .col:nth-child(4){
        margin-top: 5rem;
    } 
}

@media only screen and (max-width: 375px){

  

}



