@media only screen and (max-width: 1200px){
    nav{
        margin: 0rem 3.5rem;
    }

    html{
        font-size: 57.5%;
    }

    .nav-menu{
        display: none;
    }

    .hero-text-box{
        padding: 0 10rem;
    }

    .hero-text-box h1{
        font-size: 4rem;
    }

    .about-section .client-info{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        align-items: center;
        text-align: center;        
    }

    .client-img{
        margin-bottom: 2rem;
    }

    .client-review{
        margin-left: 0rem;
    }
    .client-review h3{
        text-align: center;
    }

    .contact-section form{
        max-width: 100%;
        left: 0;    
    }
}

@media only screen and (max-width: 980px){

    header{height: 50vh;}
    
    .services-section .span_1_of_4,
    .team-section .span_1_of_4,
    .skills-section .span_1_of_4{
		width: 49.2%;
	}
    .services-section .span_1_of_4,
    .team-section .span_1_of_4,
    .skills-section .span_1_of_4:nth-child(3){
		margin-left: 0;
	}

    html{
        font-size: 61%;
    }
}
